#!/bin/bash

# LSF_DOCKER_VOLUMES is the variable that connects paths on Storage1 to paths in your container. It
# contains space-separated declarations like path1:path2, where path1 is the path on Storage1 and
# path2 is where it will be in your container. Add/subtract from LSF_DOCKER_VOLUMES as you need.
export LSF_DOCKER_VOLUMES="/storage1/fs1/rvmartin/Active:/storage1/fs1/rvmartin/Active /storage1/fs1/rvmartin/Archive:/storage1/fs1/rvmartin/Archive /scratch1/fs1/rvmartin/bs6:/scratch1/fs1/rvmartin/bs6 $HOME:$HOME"

# Other LSF configrations
export LSF_DOCKER_SHM_SIZE=20G
export LSF_DOCKER_NETWORK=host 
export LSF_DOCKER_IPC=host
export LSB_DEFAULT_JOBGROUP=rvmartin
